In [1]:
import pandas as pd

In [2]:
movie_genres_df = pd.read_csv('Resources/movie_genres.csv')

movie_genres_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movie_genres_df['year'] = movie_genres_df['title'].str[-5:]
movie_genres_df['year'] = movie_genres_df['year'].str[:-1]
movie_genres_df['title'] = movie_genres_df['title'].str[:-6]

movie_genres_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [4]:
movie_genres_df = movie_genres_df[~movie_genres_df['genres'].isin(['(no genres listed)'])]

movie_genres_df[['genre','genre_1','genre_2','genre_3','genre_4','genre_5','genre_6','genre_7',
                 'genre_8','genre_9']] = movie_genres_df['genres'].str.split('|',expand=True)

movie_genres_df.head()

,movieId,title,genres,year,genre,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,2,Jumanji,Adventure|Children|Fantasy,1995,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,3,Grumpier Old Men,Comedy|Romance,1995,Comedy,Romance,None,None,None,None,None,None,None,None
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,5,Father of the Bride Part II,Comedy,1995,Comedy,None,None,None,None,None,None,None,None,None

In [5]:
movie_genres_df = movie_genres_df[['title','year','genre']]
movie_genres_df.dropna()

movie_genres_df['title'] = movie_genres_df['title'].str.lower()
movie_genres_df['genre'] = movie_genres_df['genre'].str.lower()

movie_genres_df.head()

                          title  year      genre
0                    toy story   1995  adventure
1                      jumanji   1995  adventure
2             grumpier old men   1995     comedy
3            waiting to exhale   1995     comedy
4  father of the bride part ii   1995     comedy

In [6]:
movie_genres_df['title'].str.strip()
movie_genres_df['year'].str.strip()
movie_genres_df['genre'].str.strip()

movie_genres_df = movie_genres_df[['title','genre']]
movie_genres_df

                                                   title      genre
0                                             toy story   adventure
1                                               jumanji   adventure
2                                      grumpier old men      comedy
3                                     waiting to exhale      comedy
4                           father of the bride part ii      comedy
5                                                  heat      action
6                                               sabrina      comedy
7                                          tom and huck   adventure
8                                          sudden death      action
9                                             goldeneye      action
10                              american president, the      comedy
11                          dracula: dead and loving it      comedy
12                                                balto   adventure
13                                                nixon       drama
14                                     cutthroat island      action
15                                               casino       crime
16                                sense and sensibility       drama
17                                           four rooms      comedy
18                       ace ventura: when nature calls      comedy
19                                          money train      action
20                                           get shorty      comedy
21                                              copycat       crime
22                                            assassins      action
23                                               powder       drama
24                                    leaving las vegas       drama
25                                              othello       drama
26                                         now and then    children
27                                           persuasion       drama
28     city of lost children, the (cité des enfants p...  adventure
29        shanghai triad (yao a yao yao dao waipo qiao)       crime
...                                                  ...        ...
27245                                  stopped on track       drama
27246                                     voll normaaal      comedy
27247                      werner - das muss kesseln!!!   animation
27248                            werner - volles rooäää   animation
27249                                        what a man      comedy
27250               7 dwarves: the forest is not enough      comedy
27251                                       the fat spy      comedy
27252    die bademeister – weiber, saufen, leben retten      comedy
27253                               ants in the pants 2      comedy
27254                                      manta, manta      comedy
27255                        oscar and the lady in pink       drama
27256                            por un puñado de besos       drama
27257                                     vietnam in hd         war
27259                                           phoenix       drama
27260                                         parallels      sci-fi
27262                                         gentlemen       drama
27263                                   a second chance       drama
27264                           dead rising: watchtower      action
27265                                           standby      comedy
27266                               what men talk about      comedy
27267                                three quarter moon      comedy
27268                                 ants in the pants      comedy
27269                      werner - gekotzt wird später   animation
27270                                    brother bear 2   adventure
27271                                    no more school      comedy
27272   forklift driver klaus: the first day on the job      comedy
27273                             kein bund für's leben      comedy
27274                            feuer, eis & dosenbier      comedy
27275                                       the pirates   adventure
27277                                         innocence   adventure

[27032 rows x 2 columns]

In [9]:
movie_genres_df.dtypes

title    object
year     object
genre    object
dtype: object