In [7]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests

In [32]:
import pandas as pd

In [33]:
url = "https://www.boxofficemojo.com/alltime/world/"

In [49]:
tables = pd.read_html(url)[1]
tables

,0,1,2,3,4,5,6,7,8
0,Rank,Title,Studio,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,Year^
1,1,Avengers: Endgame,BV,"$2,797.8",$858.4,30.7%,"$1,939.4",69.3%,2019
2,2,Avatar,Fox,"$2,789.7",$760.5,27.3%,"$2,029.2",72.7%,2009^
3,3,Titanic,Par.,"$2,187.5",$659.4,30.1%,"$1,528.1",69.9%,1997^
4,4,Star Wars: The Force Awakens,BV,"$2,068.2",$936.7,45.3%,"$1,131.6",54.7%,2015
...,...,...,...,...,...,...,...,...,...
96,96,2012,Sony,$769.7,$166.1,21.6%,$603.6,78.4%,2009
97,97,Fast & Furious Presents: Hobbs & Shaw,Uni.,$758.7,$173.6,22.9%,$585.1,77.1%,2019
98,98,Maleficent,BV,$758.5,$241.4,31.8%,$517.1,68.2%,2014
99,99,The Da Vinci Code,Sony,$758.2,$217.5,28.7%,$540.7,71.3%,2006
100,100,The Amazing Spider-Man,Sony,$757.9,$262.0,34.6%,$495.9,65.4%,2012

In [41]:
url2 = "https://www.boxofficemojo.com/alltime/world/?pagenum=2&p=.htm"

In [47]:
tables2 = pd.read_html(url2)[1]
tables2

,0,1,2,3,4,5,6,7,8
0,Rank,Title,Studio,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,Year^
1,101,The Hunger Games: Mockingjay - Part 1,LGF,$755.4,$337.1,44.6%,$418.2,55.4%,2014
2,102,Shrek Forever After,P/DW,$752.6,$238.7,31.7%,$513.9,68.3%,2010
3,103,X-Men: Days of Future Past,Fox,$747.9,$233.9,31.3%,$513.9,68.7%,2014
4,104,Madagascar 3: Europe's Most Wanted,P/DW,$746.9,$216.4,29.0%,$530.5,71.0%,2012
...,...,...,...,...,...,...,...,...,...
96,196,Godzilla (2014),WB,$529.1,$200.7,37.9%,$328.4,62.1%,2014
97,197,Hotel Transylvania 3: Summer Vacation,Sony,$528.6,$167.5,31.7%,$361.1,68.3%,2018
98,198,The Boss Baby,Fox,$528.0,$175.0,33.1%,$353.0,66.9%,2017
99,199,The Simpsons Movie,Fox,$527.1,$183.1,34.7%,$343.9,65.3%,2007
100,200,Dunkirk,WB,$526.9,$189.7,36.0%,$337.2,64.0%,2017^

In [50]:
url3 = "https://www.boxofficemojo.com/alltime/world/?pagenum=3&p=.htm"
tables3 = pd.read_html(url3)[1]
tables3

,0,1,2,3,4,5,6,7,8
0,Rank,Title,Studio,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,Year^
1,201,Sherlock Holmes,WB,$524.0,$209.0,39.9%,$315.0,60.1%,2009
2,202,Kung Fu Panda 3,Fox,$521.2,$143.5,27.5%,$377.6,72.5%,2016
3,203,Terminator 2: Judgment Day,TriS,$520.9,$205.9,39.5%,$315.0,60.5%,1991^
4,204,How to Train Your Dragon: The Hidden World,Uni.,$519.9,$160.8,30.9%,$359.1,69.1%,2019
...,...,...,...,...,...,...,...,...,...
96,296,The Mummy: Tomb of the Dragon Emperor,Uni.,$401.1,$102.5,25.6%,$298.6,74.4%,2008
97,297,Tron Legacy,BV,$400.1,$172.1,43.0%,$228.0,57.0%,2010
98,298,Mission: Impossible III,Par.,$397.9,$134.0,33.7%,$263.8,66.3%,2006
99,299,Snow White and the Huntsman,Uni.,$396.6,$155.3,39.2%,$241.3,60.8%,2012
100,300,Grease,Par.,$396.2,$190.0,48.0%,$206.2,52.0%,1978^

In [51]:
url4 = "https://www.boxofficemojo.com/alltime/world/?pagenum=4&p=.htm"
tables4 = pd.read_html(url4)[1]
tables4

,0,1,2,3,4,5,6,7,8
0,Rank,Title,Studio,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,Year^
1,301,Mamma Mia! Here We Go Again,Uni.,$395.0,$120.6,30.5%,$274.4,69.5%,2018
2,302,Twilight,Sum.,$393.6,$192.8,49.0%,$200.8,51.0%,2008
3,303,Solo: A Star Wars Story,BV,$392.9,$213.8,54.4%,$179.2,45.6%,2018
4,304,The Wolf of Wall Street,Par.,$392.0,$116.9,29.8%,$275.1,70.2%,2013
...,...,...,...,...,...,...,...,...,...
96,396,Star Trek Beyond,Par.,$343.5,$158.8,46.2%,$184.6,53.8%,2016
97,397,Alvin and the Chipmunks: Chipwrecked,Fox,$342.7,$133.1,38.8%,$209.6,61.2%,2011
98,398,The Flintstones,Uni.,$341.6,$130.5,38.2%,$211.1,61.8%,1994
99,399,Wanted,Uni.,$341.4,$134.5,39.4%,$206.9,60.6%,2008
100,400,A Quiet Place,Par.,$340.9,$188.0,55.1%,$152.9,44.9%,2018

In [52]:
url5 = "https://www.boxofficemojo.com/alltime/world/?pagenum=5&p=.htm"
tables5 = pd.read_html(url5)[1]
tables5

,0,1,2,3,4,5,6,7,8
0,Rank,Title,Studio,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,Year^
1,401,Enchanted,BV,$340.5,$127.8,37.5%,$212.7,62.5%,2007
2,402,300: Rise of An Empire,WB,$337.6,$106.6,31.6%,$231.0,68.4%,2014
3,403,Batman Forever,WB,$336.6,$184.1,54.7%,$152.5,45.3%,1995^
4,404,Prince of Persia: The Sands of Time,BV,$336.4,$90.8,27.0%,$245.6,73.0%,2010
...,...,...,...,...,...,...,...,...,...
96,496,Salt,Sony,$293.5,$118.3,40.3%,$175.2,59.7%,2010
97,497,G-Force,BV,$292.8,$119.4,40.8%,$173.4,59.2%,2009
98,498,The Departed,WB,$291.5,$132.4,45.4%,$159.1,54.6%,2006
99,499,What Lies Beneath,DW,$291.4,$155.5,53.3%,$136.0,46.7%,2000
100,500,Pacific Rim Uprising,Uni.,$290.9,$59.9,20.6%,$231.1,79.4%,2018

In [55]:
url6 = "https://www.boxofficemojo.com/alltime/world/?pagenum=6&p=.htm"
tables6 = pd.read_html(url6)[1]
tables6

,0,1,2,3,4,5,6,7,8
0,Rank,Title,Studio,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,Year^
1,501,Shakespeare in Love,Mira.,$289.3,$100.3,34.7%,$189.0,65.3%,1998
2,502,Fantastic Four: Rise of the Silver Surfer,Fox,$289.0,$131.9,45.6%,$157.1,54.4%,2007
3,503,Divergent,LG/S,$288.9,$150.9,52.3%,$137.9,47.7%,2014
4,504,Coming to America,Par.,$288.8,$128.2,44.4%,$160.6,55.6%,1988
...,...,...,...,...,...,...,...,...,...
96,596,Eragon,Fox,$249.5,$75.0,30.1%,$174.5,69.9%,2006
97,597,The Ring,DW,$249.3,$129.1,51.8%,$120.2,48.2%,2002
98,598,The Blair Witch Project,Art.,$248.6,$140.5,56.5%,$108.1,43.5%,1999
99,599,Unbreakable,BV,$248.1,$95.0,38.3%,$153.1,61.7%,2000
100,600,Dumb and Dumber,NL,$247.3,$127.2,51.4%,$120.1,48.6%,1994

In [56]:
url7 = "https://www.boxofficemojo.com/alltime/world/?pagenum=7&p=.htm"
tables7 = pd.read_html(url7)[1]
tables7

,0,1,2,3,4,5,6,7,8
0,Rank,Title,Studio,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,Year^
1,601,Glass,Uni.,$247.0,$111.0,45.0%,$136.0,55.0%,2019
2,602,Grown Ups 2,Sony,$247.0,$133.7,54.1%,$113.3,45.9%,2013
3,603,Love Actually,Uni.,$246.9,$59.7,24.2%,$187.2,75.8%,2003
4,604,Journey to the West: The Demons Strike Back,Sony,$246.6,$880k,0.4%,$245.7,99.6%,2017
...,...,...,...,...,...,...,...,...,...
96,696,Inferno,Sony,$220.0,$34.3,15.6%,$185.7,84.4%,2016
97,697,Green Lantern,WB,$219.9,$116.6,53.0%,$103.3,47.0%,2011
98,698,The Terminal,DW,$219.4,$77.9,35.5%,$141.5,64.5%,2004
99,699,What Happens in Vegas,Fox,$219.4,$80.3,36.6%,$139.1,63.4%,2008
100,700,It's Complicated,Uni.,$219.1,$112.7,51.5%,$106.4,48.5%,2009

In [57]:
url8 = "https://www.boxofficemojo.com/alltime/world/?pagenum=8&p=.htm"
tables8 = pd.read_html(url8)[1]
tables8

,0,1,2,3,4,5,6,7,8
0,Rank,Title,Studio,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,Year^
1,701,Knocked Up,Uni.,$219.1,$148.8,67.9%,$70.3,32.1%,2007
2,702,Captain Phillips,Sony,$218.8,$107.1,49.0%,$111.7,51.0%,2013
3,703,The Prince of Egypt,DW,$218.6,$101.4,46.4%,$117.2,53.6%,1998
4,704,Jack Reacher,Par.,$218.3,$80.1,36.7%,$138.3,63.3%,2012
...,...,...,...,...,...,...,...,...,...
86,786,Yogi Bear,WB,$201.6,$100.2,49.7%,$101.3,50.3%,2010
87,787,Garfield: The Movie,Fox,$200.8,$75.4,37.5%,$125.4,62.5%,2004
88,788,Cats & Dogs,WB,$200.7,$93.4,46.5%,$107.3,53.5%,2001
89,789,The Hunt for Red October,Par.,$200.5,$122.0,60.9%,$78.5,39.1%,1990
90,790,Valkyrie,UA,$200.3,$83.1,41.5%,$117.2,58.5%,2008

In [62]:
data_withOverseasData = pd.concat([tables, tables2, tables3, tables4, tables5, tables6, tables7, tables8], axis=0)

In [63]:
data_withOverseasData.to_csv("")

,0,1,2,3,4,5,6,7,8
0,Rank,Title,Studio,Worldwide,Domestic / %,Domestic / %,Overseas / %,Overseas / %,Year^
1,1,Avengers: Endgame,BV,"$2,797.8",$858.4,30.7%,"$1,939.4",69.3%,2019
2,2,Avatar,Fox,"$2,789.7",$760.5,27.3%,"$2,029.2",72.7%,2009^
3,3,Titanic,Par.,"$2,187.5",$659.4,30.1%,"$1,528.1",69.9%,1997^
4,4,Star Wars: The Force Awakens,BV,"$2,068.2",$936.7,45.3%,"$1,131.6",54.7%,2015
...,...,...,...,...,...,...,...,...,...
86,786,Yogi Bear,WB,$201.6,$100.2,49.7%,$101.3,50.3%,2010
87,787,Garfield: The Movie,Fox,$200.8,$75.4,37.5%,$125.4,62.5%,2004
88,788,Cats & Dogs,WB,$200.7,$93.4,46.5%,$107.3,53.5%,2001
89,789,The Hunt for Red October,Par.,$200.5,$122.0,60.9%,$78.5,39.1%,1990
90,790,Valkyrie,UA,$200.3,$83.1,41.5%,$117.2,58.5%,2008

In [ ]:
nms = nms.dropna(thresh=2)

In [ ]:
df[df['name'].notnull()]