In [1]:
import pandas as pd

In [2]:
movie_genres_df = pd.read_csv('Resources/movie_genres.csv')

movie_genres_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movie_genres_df['year'] = movie_genres_df['title'].str[-5:]
movie_genres_df['year'] = movie_genres_df['year'].str[:-1]
movie_genres_df['title'] = movie_genres_df['title'].str[:-6]

movie_genres_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [4]:
movie_genres_df = movie_genres_df[~movie_genres_df['genres'].isin(['(no genres listed)'])]

movie_genres_df[['genre','genre_1','genre_2','genre_3','genre_4','genre_5','genre_6','genre_7',
                 'genre_8','genre_9']] = movie_genres_df['genres'].str.split('|',expand=True)

movie_genres_df.head()

,movieId,title,genres,year,genre,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,2,Jumanji,Adventure|Children|Fantasy,1995,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,3,Grumpier Old Men,Comedy|Romance,1995,Comedy,Romance,None,None,None,None,None,None,None,None
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,5,Father of the Bride Part II,Comedy,1995,Comedy,None,None,None,None,None,None,None,None,None

In [5]:
movie_genres_df = movie_genres_df[['title','year','genre']]
movie_genres_df.dropna()
movie_genres_df[movie_genres_df.genre != 'Tina']

movie_genres_df['title'] = movie_genres_df['title'].str.lower()
movie_genres_df['genre'] = movie_genres_df['genre'].str.lower()

movie_genres_df.head()

                          title  year      genre
0                    toy story   1995  adventure
1                      jumanji   1995  adventure
2             grumpier old men   1995     comedy
3            waiting to exhale   1995     comedy
4  father of the bride part ii   1995     comedy

In [6]:
movie_genres_df['title'].str.strip()
movie_genres_df['year'].str.strip()
movie_genres_df['genre'].str.strip()

movie_genres_df

                                                   title  year      genre
0                                             toy story   1995  adventure
1                                               jumanji   1995  adventure
2                                      grumpier old men   1995     comedy
3                                     waiting to exhale   1995     comedy
4                           father of the bride part ii   1995     comedy
5                                                  heat   1995     action
6                                               sabrina   1995     comedy
7                                          tom and huck   1995  adventure
8                                          sudden death   1995     action
9                                             goldeneye   1995     action
10                              american president, the   1995     comedy
11                          dracula: dead and loving it   1995     comedy
12                                                balto   1995  adventure
13                                                nixon   1995      drama
14                                     cutthroat island   1995     action
15                                               casino   1995      crime
16                                sense and sensibility   1995      drama
17                                           four rooms   1995     comedy
18                       ace ventura: when nature calls   1995     comedy
19                                          money train   1995     action
20                                           get shorty   1995     comedy
21                                              copycat   1995      crime
22                                            assassins   1995     action
23                                               powder   1995      drama
24                                    leaving las vegas   1995      drama
25                                              othello   1995      drama
26                                         now and then   1995   children
27                                           persuasion   1995      drama
28     city of lost children, the (cité des enfants p...  1995  adventure
29        shanghai triad (yao a yao yao dao waipo qiao)   1995      crime
...                                                  ...   ...        ...
27245                                  stopped on track   2011      drama
27246                                     voll normaaal   1994     comedy
27247                      werner - das muss kesseln!!!   1996  animation
27248                            werner - volles rooäää   1999  animation
27249                                        what a man   2011     comedy
27250               7 dwarves: the forest is not enough   2006     comedy
27251                                       the fat spy   1966     comedy
27252    die bademeister – weiber, saufen, leben retten   1999     comedy
27253                               ants in the pants 2   2002     comedy
27254                                      manta, manta   1991     comedy
27255                        oscar and the lady in pink   2009      drama
27256                            por un puñado de besos   2014      drama
27257                                     vietnam in hd   2011        war
27259                                           phoenix   2014      drama
27260                                         parallels   2015     sci-fi
27262                                         gentlemen   2014      drama
27263                                   a second chance   2014      drama
27264                           dead rising: watchtower   2015     action
27265                                           standby   2014     comedy
27266                               what men talk about   2010     comedy
27267                                three quarter moon   2011     comedy
27268                                 ants in the pants   2000     comedy
27269                      werner - gekotzt wird später   2003  animation
27270                                    brother bear 2   2006  adventure
27271                                    no more school   2000     comedy
27272   forklift driver klaus: the first day on the job   2001     comedy
27273                             kein bund für's leben   2007     comedy
27274                            feuer, eis & dosenbier   2002     comedy
27275                                       the pirates   2014  adventure
27277                                         innocence   2014  adventure

[27032 rows x 3 columns]